/* most of an Eric Myers reset*/
html, body, div, span, applet, object, iframe,
/*h1, h2, h3, h4, h5, h6,*/ p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
}

body {
	list-style: none;
	text-align: center;
	/*background-image: url('images/brick.jpg');
	background-size: 100%;
	background-repeat: no-repeat;*/
	background: #f5d55f url('images/brick.jpg') left top no-repeat;
}
/*body {
	opacity: .8;
}*/

body a {
	
	color: white;
	stroke: 0.25px;
	text-decoration: none;
	padding: 0;
}

a:hover {
	text-shadow: 0 0 2px #524f4f;
}

header {
	background: rgba(97, 141, 216, 0.9);
	padding: 25px 0 5px;
	height: 140%;
	color: #d3a7a7;
}

h1 {
	color: #a5edf7;
	font-family: "Trajan Pro", "Times New Roman", Times, serif;
}

body h2, h3, p {
	color: #fbf8c8;
}
